<section id="about" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>About jobPoster</h1>
        <br>
        <p>Bacon ipsum dolor amet turducken ground round salami chuck. Pork belly strip steak short ribs shoulder picanha. Doner ground round pancetta, picanha beef ribs sirloin short loin prosciutto meatloaf andouille venison. Leberkas salami pork boudin short ribs bacon doner pancetta pork loin t-bone. Drumstick ball tip pastrami kielbasa ham short ribs sausage leberkas capicola sirloin. Tri-tip meatloaf filet mignon beef ribs, t-bone pig frankfurter jerky beef tenderloin salami spare ribs.</p>
        <a href="/about"><button class="btn btn-light">Learn More</button></a>
      </div>
    </div>
  </section>
