<!DOCTYPE html>
<html lang="en">
<head>
  <title>jobPoster</title>
  <link rel="stylesheet" type="text/css" href="application.css.sass">
</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-inverse navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
        <li><a class="navbar-brand topnav" href="/home">jobPoster</a></li>
        <li><a href="/about">About</a></li>
        <!-- create job post route -->
        <li><a href="">Post Job</a></li>
        <li><a href="#">Login/Register</a></li>
      </ul>
      </div>
    </div>
  </nav>
  <div class="container pad-top"
</div>
<!-- end of navbar -->

  <!-- Pages render in here -->
  <%= yield %>
  <!--End page render -->
  <!-- footer -->

</body>
</html>
