<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jobPoster</title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>

  <!-- Pages render in here -->
  <%= yield %>
  <!--End page render -->
  <!-- footer -->


</body>
</html>
