<div class="background">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand pull-left">jobPoster</a>
    </div>
    <div class="navbar-right pull-right">
      <ul class="nav navbar-nav">
        <li>
          <a href="#about" class="page-scroll">About</a>
        </li>
        <!-- create job post route -->
        <li>
          <a href="/jobs/new">Post Job</a>
        </li>
        <li>
          <a href="#top" class="page-scroll">Login/Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <div class="container">
      <div class="text-container">
    <h2>Compose Job</h2>
    <h3>Job Details</h3>
    <div class="container">
    <form class="form-horizontal" action="/jobs" method="post">
      <div class="form-group">
          <label for="job[title]">Job Title:</label>
          <input name="job[title]" class="form-control">
        </div>
        <div class="form-group">
          <label for="job[company]">Company Name:</label>
          <input name="job[company]" class="form-control">
        </div>
        <div class="form-group">
          <label for="job[location]">Location:</label>
          <input name="job[location]" class="form-control">
        </div>
        <div class="form-group">
          <label for="job[logo_url]">Company Logo:</label>
          <input name="job[logo_url]" class="form-control">
        </div>
        <div class="form-group">
          <label for="job[contact]">Contact:</label>
          <input name="job[contact]" class="form-control">
        </div>
        <div class="form-group">
          <label for="job[description]">Job Description:</label>
          <textarea maxlength="2000" cols="35" rows="10" placeholder="Job Description" name="job[description]" class="form-control"></textarea>
        </div>
          <input type="submit" value="Create" class="btn btn-primary">
    </form>
  </div>
</div>
</div>
</div>
